h1 {
  color: blue;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.hero_container {
  height: 100vh;
  width: 100vw;
}

.hero_img {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/hero.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: length;
  z-index: -1;
}

.hero_title {
  text-align: center;
  padding: 20px;
}
